<div class="px-sm-2 px-md-3 px-lg-4 my-4">
    <h1>Administrar meses patios</h1>
    <div class="meses">
        <div class="mes" *ngFor="let mes of mesesPatios">
            <span class="label-mes"><b>{{mes.mes}}</b> - {{meses[ mes.mes - 1]}}</span>
            <div class="editar-mes">
                <label class="fs-12px fw-semibold">Editar</label>
                <img class="cursor-pointer" src="assets/img/editar.svg" alt="editar-mes" (click)="abrirModalEditar(mes)">  
            </div>
            <div class="input-mes">
                <label class="fs-12px fw-semibold">Activo</label>
                <label class="switch">
                    <input type="checkbox" [checked]="mes.estado" (change)="cambiarEstadoMes(mes)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    <h1 class="mt-4">Administrar meses modalidades</h1>
    <div class="meses">
        <div class="mes" *ngFor="let mes of mesesModalidades">
            <span class="label-mes"><b>{{mes.mes}}</b> - {{meses[ mes.mes - 1]}}</span>
            <div class="editar-mes">
                <label class="fs-12px fw-semibold">Editar</label>
                <img class="cursor-pointer" src="assets/img/editar.svg" alt="editar-mes" (click)="abrirModalEditar(mes)">    
            </div>
            <div class="input-mes">
                <label class="fs-12px fw-semibold">Activo</label>
                <label class="switch">
                    <input type="checkbox" [checked]="mes.estado" (change)="cambiarEstadoMes(mes)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<ng-template #modalActualizar >
    <div class="card" *ngIf="mesEditar">
        <div class="card-header">
            <span class="fs-14px texto-primario fw-semibold" *ngIf="mesEditar.tipo === 2">
                Actualizar mensaje de mes modalidad ({{ meses[ mesEditar.mes - 1] }})
            </span>
            <span class="fs-14px texto-primario fw-semibold" *ngIf="mesEditar.tipo === 1">
                Actualizar mensaje de mes patio ({{ meses[ mesEditar.mes - 1] }})
            </span>
        </div>
        <div class="card-body">
            <fieldset>
                <label class="fs-12px fw-semibold">Mensaje</label>
                <textarea class="form-control" [(ngModel)]="mensaje"></textarea>
            </fieldset>
        </div>
        <div class="card-footer d-flex" >
            <button class="boton primario delineado ms-auto" (click)="cerrarModalEditar()">Cancelar</button>
            <button class="boton primario relleno ms-2" (click)="cambiarMensajeMes(mesEditar, mensaje)">
                Guardar
            </button>
        </div>
    </div>
</ng-template>
<app-popup #popup />
