<div class="px-sm-2 px-md-3 px-lg-4 my-4" *ngIf="encuesta || encuestaCuantitativa">
    <p *ngIf="encuesta">{{encuesta.descripcionClasificacion}}</p>
    <div class="d-block mb-3" *ngIf="encuestaCuantitativa">
        <table class="tabla-informacion">
            <thead>
                <tr>
                    <th colspan="2">Información del formulario.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NIT</td>
                    <td class="fw-semibold">
                        {{ encuestaCuantitativa.idVigilado }}
                    </td>
                </tr>
                <tr *ngIf="usuario">
                    <td>Razón social</td>
                    <td class="fw-semibold">
                        {{ usuario.nombre }}
                    </td>
                </tr>
                <tr>
                    <td>Vigencia</td>
                    <td class="fw-semibold">
                        {{ encuestaCuantitativa.vigencia }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-block mb-3" *ngIf="encuesta">
        <table class="tabla-informacion">
            <thead>
                <tr>
                    <th colspan="2">Información del formulario.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NIT</td>
                    <td class="fw-semibold">
                        {{ encuesta.idVigilado }}
                    </td>
                </tr>
                <tr *ngIf="usuario">
                    <td>Razón social</td>
                    <td class="fw-semibold">
                        {{ usuario.nombre }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center" *ngIf="!soloLectura">
        <button type="button" class="boton primario delineado" (click)="enviarEncuesta()"
            [disabled]="hayCambios || soloLectura">Enviar a ST</button>
        <button type="button" class="boton primario relleno" (click)="guardarEncuesta()"
            [disabled]="!hayCambios || soloLectura">Guardar</button>
        <button type="button" class="boton primario delineado"
            [routerLink]="['/administrar', 'encuestas', idEncuesta]">Volver</button>
    </div>

    <div class="d-block" *ngIf="esAdministrador">
        <span class="hipervinculo" (click)="verTarifas()">Ver tarifas del vigilado.</span>
    </div>

    <div class="d-flex w-100 mt-4">
        <app-encuesta #componenteEncuesta class="w-100"
            *ngIf="encuesta && idReporte && idEncuesta && idVigilado && idEncuesta != 2" [soloLectura]="soloLectura"
            [camposDeVerificacion]="camposDeVerificacion" [camposDeVerificacionVisibles]="camposDeVerificacionVisibles"
            [idVigilado]="idVigilado" [idReporte]="idReporte" [encuesta]="encuesta" [idEncuesta]="idEncuesta"
            [justificable]="encuesta.observacion" (hanHabidoCambios)="setHayCambios($event)"
            (encuestaGuardada)="manejarEncuestaGuardada()" />

        <app-encuesta-cuantitativa #componenteEncuestaCuantitativa *ngIf="idEncuesta == 2 && encuestaCuantitativa"
            [soloLectura]="soloLectura" [encuesta]="encuestaCuantitativa" (hanHabidoCambios)="setHayCambios($event)"
            (encuestaGuardada)="manejarEncuestaCuantitativaGuardada()" />
    </div>

    <div class="d-block mt-4" *ngIf="esAdministrador">
        <h3 class="texto-primario fw-semibold fs-16px">El vigilado reporta información de los siguientes municipios.</h3>
        <table class="table tabla-primaria">
            <thead>
                <tr class="fw-semibold">
                    <th>Departamento</th>
                    <th>Municipio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let municipioReportado of municipiosReportados">
                    <td>{{municipioReportado.departamento}} - {{ municipioReportado.nombreDepartamento }}</td>
                    <td>{{municipioReportado.municipio}} - {{ municipioReportado.nombreMunicipio }}</td>
                </tr>
                <tr *ngIf="municipiosReportados.length < 1">
                    <td colspan="2" class="text-center fw-semibold">
                        Sin municipios reportados.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-popup #popup />
<app-modal-confirmar-enviar #modalConfirmar />