<div class="mb-3">
    <div class="table-responsive">
        <table class="tabla-empresas table border mb-1">
            <thead>
                <tr height="38px" class="fs-14px  fondo-secundario texto-primario">
                    <th *ngIf="!soloLectura" colspan="2" class="fw-semibold"></th>
                    <th class="fw-semibold">
                        NIT
                    </th>
                    <th class="fw-semibold">
                        Razón Social
                    </th>
                    <th class="fw-semibold">
                        Tipo de Servicio / Modalidad
                    </th>
                    <th class="fw-semibold">
                        Departamento
                    </th>
                    <th class="fw-semibold">
                        Municipio
                    </th>
                    <th class="fw-semibold">
                        Acto administrativo Tipo de Servicio / Modalidad
                    </th>
                    <th class="fw-semibold">
                        Capacidad transportadora A
                    </th>
                    <th class="fw-semibold">
                        Capacidad transportadora B
                    </th>
                    <th class="fw-semibold">
                        Capacidad transportadora C
                    </th>
                    <th class="fw-semibold">
                        Acto administrativo capacidad transportadora
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="fs-14px" *ngIf="empresas.length === 0 && registrosACrear.length === 0 && !formularioVisible">
                    <td colspan="2" *ngIf="!soloLectura"></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr class="fs-14px" *ngFor="let empresa of empresas ; let i = index"
                    [ngClass]="{ 'bg-peligro': esRegistroAEliminar(empresa.nit) }">
                    <td *ngIf="!soloLectura" colspan="2">
                        <span *ngIf="esRegistroAEliminar(empresa.nit)" class="text-danger cursor-pointer"
                            (click)="cancelarEliminacionRegistro(empresa.nit)">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </span>
                        <span *ngIf="!esRegistroAEliminar(empresa.nit)" class="text-danger cursor-pointer"
                            (click)="eliminarRegistro(empresa.nit)">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </span>
                    </td>
                    <td>{{ empresa.nit }}</td>
                    <td>{{ empresa.razon_social }}</td>
                    <td>{{ empresa.tipo_servicio }} - {{ obtenerNombreServicioModalidad(empresa.tipo_servicio) }}</td>
                    <td>{{ obtenerNombreDepartamento(empresa.departamento) }}</td>
                    <td>{{ obtenerNombreCiudad(empresa.municipio) }}</td>
                    <td>
                        <span class="hipervinculo cursor-pointer"
                            (click)="descargarArchivo(empresa.documento_tipo_servicio, empresa.ruta_tipo_servicio, empresa.original_tipo_servicio)">
                            {{ empresa.original_tipo_servicio }}
                        </span>
                    </td>
                    <td>{{ empresa.capacidad_transportadora_a }}</td>
                    <td>{{ empresa.capacidad_transportadora_b }}</td>
                    <td>{{ empresa.capacidad_transportadora_c }}</td>
                    <td>
                        <span class="hipervinculo cursor-pointer"
                            (click)="descargarArchivo(empresa.documento_transportadora, empresa.ruta_transportadora, empresa.original_transportadora)">
                            {{ empresa.original_transportadora }}
                        </span>
                    </td>
                </tr>
                <tr class="fs-14px bg-exitoso" *ngFor="let empresa of registrosACrear ; let indice = index">
                    <td *ngIf="!soloLectura" colspan="2">
                        <span class="text-danger cursor-pointer" (click)="retirarDeRam(indice)">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </span>
                    </td>
                    <td>{{ empresa.nit }}</td>
                    <td>{{ empresa.razon_social }}</td>
                    <td>{{ empresa.tipo_servicio }} - {{ obtenerNombreServicioModalidad(empresa.tipo_servicio) }}</td>
                    <td>{{ obtenerNombreDepartamento(empresa.departamento) }}</td>
                    <td>{{ obtenerNombreCiudad(empresa.municipio) }}</td>
                    <td>
                        <span class="hipervinculo cursor-pointer"
                            (click)="descargarArchivo(empresa.documento_tipo_servicio, empresa.ruta_tipo_servicio, empresa.original_tipo_servicio)">
                            {{ empresa.original_tipo_servicio }}
                        </span>
                    </td>
                    <td>{{ empresa.capacidad_transportadora_a }}</td>
                    <td>{{ empresa.capacidad_transportadora_b }}</td>
                    <td>{{ empresa.capacidad_transportadora_c }}</td>
                    <td>
                        <span class="hipervinculo cursor-pointer"
                            (click)="descargarArchivo(empresa.documento_transportadora, empresa.ruta_transportadora, empresa.original_transportadora)">
                            {{ empresa.original_transportadora }}
                        </span>
                    </td>
                </tr>
                <tr class="fs-14px" [formGroup]="formulario" *ngIf="formularioVisible">
                    <td class="align-middle">
                        <span class="text-danger cursor-pointer" (click)="ocultarFormulario()">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </span>
                    </td>
                    <td class="align-middle">
                        <span class="text-success cursor-pointer" (click)="agregarARam()">
                            <span class="material-symbols-outlined">
                                done
                            </span>
                        </span>
                    </td>
                    <td>
                        <app-input-numerico formControlName="nit" style="max-width: 300px;" 
                            placeholder="Razón social." />
                        <app-validacion [control]="this.formulario.controls.nit"
                            [validacion]="'required'" [texto]="'El campo es requerido.'" />
                        <app-validacion [control]="this.formulario.controls.nit"
                            [validacion]="'max'" [texto]="'Máximo 12 dígitos.'" />
                    </td>
                   <!--  <td>
                        <input formControlName="nit" style="max-width: 300px;" class="form-control fs-12px"
                            placeholder="NIT." />
                        <app-validacion [control]="this.formulario.controls.nit" [validacion]="'required'"
                            [texto]="'El nit es requerido.'" />
                    </td> -->
                    <td>
                        <input formControlName="razonSocial" style="max-width: 300px;" class="form-control fs-12px"
                            placeholder="Razón social." />
                        <app-validacion [control]="this.formulario.controls.razonSocial" [validacion]="'required'"
                            [texto]="'La razón social es requerida.'" />
                    </td>
                    <td>
                        <select formControlName="tipoServicio" style="max-width: 300px;" class="form-select">
                            <option value="">Selecciona un tipo / modalidad.</option>
                            <option [value]="modalidad.id" *ngFor="let modalidad of serviciosModalidades">
                                {{ modalidad.id }} - {{ modalidad.nombre }}
                            </option>
                        </select>
                        <app-validacion [control]="this.formulario.controls.tipoServicio" [validacion]="'required'"
                            [texto]="'Debe seleccionar un tipo o modalidad.'" />
                    </td>
                    <td>
                        <select formControlName="departamento" style="max-width: 300px;" class="form-select">
                            <option value="">Selecciona un departamento.</option>
                            <option [value]="departamento.id" *ngFor="let departamento of departamentos">
                                {{ departamento.id }} - {{ departamento.name }}
                            </option>
                        </select>
                        <app-validacion [control]="this.formulario.controls['departamento']" [validacion]="'required'"
                            [texto]="'El departamento es requerido.'" />
                    </td>
                    <td>
                        <select formControlName="municipio" style="max-width: 300px;" class="form-select">
                            <option value="">Selecciona un municipio.</option>
                            <option [value]="ciudad.id" *ngFor="let ciudad of ciudades">
                                {{ ciudad.id }} - {{ ciudad.name }}
                            </option>
                        </select>
                        <app-validacion [control]="this.formulario.controls['municipio']" [validacion]="'required'"
                            [texto]="'El municipio es requerido.'" />
                    </td>
                    <td>
                        <fieldset class="d-flex flex-column">
                            <app-input-archivo formControlName="aATipoServicio" [tamanoMaximoMb]="10"
                                [acepta]="['.pdf']" [nombre]="'aa-tipo-servicio'" />
                            <app-validacion [control]="this.formulario.controls.aATipoServicio"
                                [validacion]="'required'" [texto]="'El documento es requerido.'" />
                            <span class="fw-semibold fs-12px">PDF, Máximo 10 Mb</span>
                        </fieldset>
                    </td>
                    <td>
                        <app-input-numerico formControlName="capacidadTransportadoraA" style="max-width: 300px;"
                            placeholder="Capacidad transportadora A" />
                        <app-validacion [control]="this.formulario.controls.capacidadTransportadoraA"
                            [validacion]="'required'" [texto]="'El campo es requerido.'" />
                        <app-validacion [control]="this.formulario.controls.capacidadTransportadoraA"
                            [validacion]="'max'" [texto]="'Máximo 8 dígitos.'" />
                    </td>
                    <td>
                        <app-input-numerico formControlName="capacidadTransportadoraB" style="max-width: 300px;"
                            placeholder="Capacidad transportadora A" />
                        <app-validacion [control]="this.formulario.controls.capacidadTransportadoraB"
                            [validacion]="'required'" [texto]="'El campo es requerido.'" />
                        <app-validacion [control]="this.formulario.controls.capacidadTransportadoraB"
                            [validacion]="'max'" [texto]="'Máximo 8 dígitos.'" />
                    </td>
                    <td>
                        <app-input-numerico formControlName="capacidadTransportadoraC" style="max-width: 300px;"
                            placeholder="Capacidad transportadora A" />
                        <app-validacion [control]="this.formulario.controls.capacidadTransportadoraC"
                            [validacion]="'required'" [texto]="'El campo es requerido.'" />
                        <app-validacion [control]="this.formulario.controls.capacidadTransportadoraC"
                            [validacion]="'max'" [texto]="'Máximo 8 dígitos'" />
                    </td>
                    <td>
                        <fieldset class="d-flex flex-column">
                            <app-input-archivo [tamanoMaximoMb]="10" [acepta]="['.pdf']"
                                formControlName="aACapacidadTransportadora" [nombre]="'aa-capacidad-transportadora'" />
                            <app-validacion [control]="this.formulario.controls.aACapacidadTransportadora"
                                [validacion]="'required'" [texto]="'El documento es requerido.'" />
                            <span class="fw-semibold fs-12px">PDF, Máximo 10 Mb</span>
                        </fieldset>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex">
        <span class="validacion" *ngIf="empresaRequerida">Debe agregar al menos una empresa.</span>
    </div>
    <div class="d-flex mt-3" *ngIf="!formularioVisible && !soloLectura">
        <button type="button" class="boton primario relleno" (click)="mostrarFormulario()">
            Agregar
        </button>
    </div>
</div>