:host{
    display: table-row;
    font-size: 14px;
    border-bottom: 1px solid gainsboro;
}
.table th, .tabla, .table td{
    font-size: 14px;
    padding: 10px;
}
.table th{
    color: var(--azul-oscuro);
    background-color: var(--azul-claro);
}
.actividad{
    max-width: 485px;
    width: 485px;
    min-width: 300px;
}
.planeado, .ejecutado{
    width: 100px;
}
.cumplimiento{
    width: 175px;
}