<td class="adicional">{{ adicional.pregunta }}</td>
<td class="respuesta">
    <div>
        <ng-container *ngIf="adicional.tipoPregunta === 'SELECT'">
            <fieldset>
                <label class="fs-12px fw-semibold">Respuesta</label>
                <select
                (ngModelChange)="manejarCambioRespuesta($event)" 
                [ngModel]="respuesta" class="form-select"
                [disabled]="soloLectura">
                    <option value="">Selecciona una opción.</option>
                    <option [value]="opcion.valor" *ngFor="let opcion of adicional.valoresPregunta">{{ opcion.clave }}
                    </option>
                </select>
            </fieldset>
        </ng-container>

        <ng-container *ngIf="adicional.tipoPregunta === 'NUMERICO'">
            <fieldset>
                <label class="fs-12px fw-semibold">Respuesta</label>
                <app-input-numerico
                [valorInicial]="adicional.respuesta !== '' ? +adicional.respuesta : null"
                (ngModelChange)="manejarCambioRespuesta($event)" 
                [ngModel]="respuesta" 
                [disabled]="soloLectura"/>
            </fieldset>
        </ng-container>

        <ng-container *ngIf="adicional.tipoPregunta === 'TEXTO'">
            <fieldset>
                <label class="fs-12px fw-semibold">Respuesta</label>
                <input
                class="form-control"
                [maxLength]="adicional.maxCaracteres"
                type="text" 
                (ngModelChange)="manejarCambioRespuesta($event)" 
                [(ngModel)]="respuesta" 
                [disabled]="soloLectura"/>
                <span class="fs-12px">Máximo ({{adicional.maxCaracteres}}) caracteres.</span>
            </fieldset>
        </ng-container>
    </div>
</td>
<td class="observacion">
    <div *ngIf="adicional.tieneObservacion">
        <fieldset>
            <label class="fs-12px fw-semibold">Justificación</label>
            <textarea class="form-control"
                *ngIf="!esObservacionNumerica()"
                [maxlength]="adicional.maxObservacion"
                (ngModelChange)="manejarCambioObservacion($event)"
                [(ngModel)]="observacion" 
                [disabled]="!(adicional.habilitaObservacion != null && adicional.habilitaObservacion.includes(respuesta)) || soloLectura"></textarea>
            <app-input-numerico
                *ngIf="esObservacionNumerica()"
                (ngModelChange)="manejarCambioObservacion($event)"
                [(ngModel)]="observacion"
                [disabled]="!(adicional.habilitaObservacion != null && adicional.habilitaObservacion.includes(respuesta)) || soloLectura"
             />
            <span class="fs-12px">Máximo ({{adicional.maxObservacion}}) caracteres.</span>
        </fieldset>
    </div>
</td>
<td class="tipo-evidencia">{{ adicional.mensaje }}</td>
<td>
    <ng-container *ngIf="adicional.adjuntable">
        <fieldset>
            <label class="fs-12px fw-semibold">Evidencia</label>
            <app-input-archivo
            (ngModelChange)="manejarCambioArchivo($event)"
            [ngModel]="evidencia" 
            [nombre]="adicional.idAdicional.toString()"
            [acepta]="[adicional.validacionesEvidencia!.extension]"
            [disabled]="soloLectura || deshabilitarEvidencia()" />
        </fieldset>
        <span 
        class="fs-12px cursor-pointer" 
        *ngIf="adicional.nombreOriginal !== ''"
        (click)="descargarEvidencia()">{{ adicional.nombreOriginal }}</span>
        <span class="fs-12px" *ngIf="adicional.nombreOriginal === ''">Sin evidencia adjunta.</span>
    </ng-container>
</td>