:host{
    width: 100%;
}

.nav-tabs .nav-link{
    color: var(--azul-oscuro);
    font-weight: 600;
    font-size: 14px;
}

.nav-tabs .nav-link.active{
    background-color: #E6EFFD;
    border-bottom: none;
}
.tabla-informacion{
    font-size: 14px;
    border-collapse: collapse;
}
.tabla-informacion td, .tabla-informacion th{
    border: 1px solid gainsboro;
    padding: 7px 10px;
}
.tabla-informacion th{
    font-weight: 600;
    background-color: var(--azul-claro);
    color: var(--azul-oscuro);
}