<div class="container mt-4">
  <div class="d-flex">
    <div class="d-block mb-3">
      <table class="informacion tabla-informacion">
        <thead>
          <tr>
            <th colspan="2" style="text-align: center !important;">Información del formulario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fw-semibold titulo-fila" style="width: 150px !important;">Nit</td>
            <td>
              <ng-container>
                {{usuario?.usuario}}
              </ng-container>
            </td>
          </tr>
          <tr>
            <td class="fw-semibold titulo-fila" style="width: 150px !important;">Razón social</td>
            <td>
              <ng-container>
                {{usuario?.nombre}}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-vigencias [registros]="registros" [tipo]="tipo" class="mt-3"></app-vigencias>

</div>
