<h4 class="fw-semibold texto-primario fs-16px">Registre las empresas que pertenecen a su jurisdicción</h4>
<app-tabla-empresas-jurisdiccion 
#tablaEmpresas
(aCrear)="manejarEmpresasACrear($event)"
(aEliminar)="manejarEmpresasAEliminar($event)"
[idVigilado]="encuesta.idVigilado"
[soloLectura]="soloLectura" 
[empresas]="encuesta.empresas"
[empresaRequerida]="empresaRequerida"
/>
<hr>
<h4 class="fw-semibold texto-primario fs-16px">Registre los patios en su jurisdicción</h4>
<app-tabla-patios
#tablaPatios
(aCrear)="manejarPatiosACrear($event)"
(aEliminar)="manejarPatiosAEliminar($event)"
[idVigilado]="encuesta.idVigilado"
[soloLectura]="soloLectura" 
[patios]="encuesta.patios"
[patioRequerido]="patioRequerido"
/>
<hr>
<h4 class="fw-semibold texto-primario fs-16px">Inscriba sus sedes operativas</h4>
<app-tabla-sedes
#tablaSedes
[soloLectura]="soloLectura" 
[sedes]="encuesta.sedes"
[sedeRequerida]="sedeRequerida"
(nuevasSedes)="manejarNuevasSedes($event)" />
<div class="contenedor-encuesta d-flex flex-column w-100" #contenedorEncuesta>
    <ul class="clasificaciones">
        <li *ngFor="let clasificacion of encuesta.clasificaciones">
            <app-clasificacion-encuesta 
            #clasificacion 
            [clasificacion]="clasificacion"
            [soloLectura]="soloLectura"
            [camposDeVerificacion]="camposDeVerificacion"
            [camposDeVerificacionVisibles]="camposDeVerificacionVisibles"    
            [idVigilado]="idVigilado"
            [observacion]="encuesta.observacion" 
            [camposDeVerificacion]="camposDeVerificacion"
            [justificable]="justificable"
            [opcionesCumplimiento]="opcionesCumplimiento"
            [opcionesCorrespondencia]="opcionesCorrespondencia"
            (preguntasRespondidas)="alResponderPreguntas($event)"
            (verificacionesRespondidas)="alResponderVerificaciones($event)"
            (archivoExcedeTamano)="manejarArchivoExcedeTamano($event)"/>
        </li>
    </ul>
    <div class="d-flex mt-4" *ngIf="!soloLectura">
        <button [disabled]="!hayCambios" class="boton primario relleno ms-auto" (click)="guardarRespuestas()">Guardar</button>
    </div>
</div>
<app-popup #popup />