<div class="mb-4" *ngIf="visible">
    <h3 class="texto-primario fw-semibold fs-16px">Importar patios</h3>
    <!-- <span class="fs-14px">
        <span class="validacion fw-semibold">*</span>{{ mensaje }}
    </span> -->
    <app-tabla-patios [idVigilado]="idVigilado" [patios]="patios" [soloLectura]="true" />
    <div class="d-flex opciones align-items-start">
        <div class="d-flex hipervinculo me-3" (click)="descargarArchivo(plantilla!)">
            <span class="material-symbols-outlined">
                file_save
            </span>  <span class="fs-14px">Descargar plantilla</span>
        </div>
        <div class="d-flex hipervinculo me-3" (click)="descargarArchivoUrl(archivoCargado!)">
            <span class="material-symbols-outlined">
                file_save
            </span>
            <span class="fs-14px">Descargar archivo cargado</span> 
        </div>
        <div class="d-flex ms-auto">
            <fieldset class="importar-archivo">
                <label class="fw-semibold fs-12px">Importar archivo</label>
                <app-input-archivo 
                [nombre]="'importar-patios'" 
                [acepta]="['.xlsx', '.csv']" 
                [(ngModel)]="archivoACargar"
                (ngModelChange)="manejarCambiosArchivo($event)" />
            </fieldset>
        </div>
    </div>
</div>

<ng-template #modalErrores>
    <div class="card">
        <div class="card-header">
            <span class="texto-primario fw-semibold fs-14px">Errores de importación de patios - vehículos.</span>
        </div>
        <div class="card-body">
            <ul class="errores-importacion">
                <li *ngFor="let error of erroresValidacion ; let i = index">
                    <b>{{i + 1}}.</b> Celda <b class="texto-primario">{{error.columna}}{{error.fila}}</b>: {{ error.error }} 
                </li>
                <li *ngIf="erroresValidacion.length < 1">
                    Sin errores.
                </li>
            </ul>
            <p class="fs-14px">Porfavor corrige los errores anteriores y realiza nuevamente la importación.</p>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="boton primario delineado me-2" (click)="descargarCSVErrores()">Descargar en formato CSV</button>
            <button class="boton primario relleno" (click)="cerrarModalErrores()">Continuar</button>
        </div>
    </div>
</ng-template>

<app-popup #popup />