<table class="table tabla-items-adicionales" *ngIf="adicionales.length > 0">
    <thead>
        <tr>
            <th colspan="5">Items adicionales</th>
        </tr>
    </thead>
    <tbody>
        <app-adicional-form-ejec  
        *ngFor="let adicional of adicionales"
        (nuevoAdicional)="manejarNuevaRespuesta($event)"
        [adicional]="adicional"
        [soloLectura]="soloLectura"
        [ngClass]="{ 'bg-invalido' : this.adicionalesFaltantes.includes( adicional.idAdicional ) }"
        />
    </tbody>
</table>