<div class="contenedor-evidencias" *ngIf="evidencias.length > 0">
    <ul class="evidencias">
        <li class="cabeceras-evidencia">
            <div class="row">
                <div class="col-3">Descripción de las evidencias</div>
                <div class="col-2">Tipo de evidencia</div>
                <div class="col-7">Evidencia</div>
            </div>
        </li>
        <li class="evidencia" *ngFor="let evidencia of evidencias" [ngClass]="{ 'bg-invalido': evidenciasFaltantes.includes(evidencia.idEvidencia) }">
            <div class="row">
                <div class="col-3"><span class="validacion fw-semibold" *ngIf="evidencia.obligatoria">* </span>{{ evidencia.nombre }}</div>
                <div class="col-2">
                    <ng-container *ngIf="evidencia.validacionesEvidencia">
                        {{ evidencia.validacionesEvidencia.tipoDato }} 
                        <span *ngIf="evidencia.validacionesEvidencia.tamanio"> - {{ evidencia.validacionesEvidencia.tamanio }} Mb</span>
                    </ng-container>
                </div>
                <div class="col-7 row">
                    <div class="col-4">
                        <app-evidencia-encuesta-cuantitativa
                        [soloLectura]="soloLectura"
                        [idVigilado]="idVigilado" 
                        [evidencia]="evidencia"
                        (evidenciaExcedeTamano)="manejarEvidenciaExcedeTamano($event)"
                        (errorAlCargar)="manejarErrorAlCargar($event)"
                        (nuevaEvidencia)="manejarNuevaEvidencia($event)"/>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="contenedor-objetivos mb-4">
    <app-tabla-objetivos
    [objetivosRequeridos]="objetivosRequeridos"
    [objetivos]="objetivos" 
    [soloLectura]="soloLectura"
    (nuevosObjetivos)="manejarNuevosObjetivos($event)"/>
</div>
<div class="contenedor-calendario">
    <app-calendario-actividades
    [soloLectura]="soloLectura"
    [actividadesFaltantes]="actividadesFaltantes"
    [cabeceras]="cabecerasActividades" 
    [actividades]="actividades" 
    (nuevaRespuesta)="manejarNuevaRespuesta($event)"/>
</div>
